$ufr-darkblue: #00004a;
$ufr-blue-20: #D7D8EC;
$ufr-blue-40: #AFB1D8;
$ufr-blue-100: #344A9A;
$ufr-pink-20: #fdf3fb;
$ufr-pink-40: #fbe7f8;
$ufr-pink-100: #f5c2ed;
$ufr-green-20: #daede7;
$ufr-green-40: #afdace;
$ufr-green-100: #00a082;
$ufr-yellow-20: #fffae0;
$ufr-yellow-40: #fff6c1;
$ufr-yellow-100: #ffe863;
$ufr-sand-50: #faf8f1;
$ufr-sand-100: #f6f1e3;

:root {
    --ufr-darkblue: #00004a;
    --ufr-blue-20: #D7D8EC;
    --ufr-blue-40: #AFB1D8;
    --ufr-blue-100: #344A9A;
    --ufr-pink-20: #fdf3fb;
    --ufr-pink-40: #fbe7f8;
    --ufr-pink-100: #f5c2ed;
    --ufr-green-20: #daede7;
    --ufr-green-40: #afdace;
    --ufr-green-100: #00a082;
    --ufr-yellow-20: #fffae0;
    --ufr-yellow-40: #fff6c1;
    --ufr-yellow-100: #ffe863;
    --ufr-sand-50: #faf8f1;
    --ufr-sand-100: #f6f1e3;
}
