// color definitions

$ufr-darkblue: #00004a;
$ufr-blue-20: #D7D8EC;
$ufr-blue-40: #AFB1D8;
$ufr-blue-100: #344A9A;
$ufr-pink-20: #fdf3fb;
$ufr-pink-40: #fbe7f8;
$ufr-pink-100: #f5c2ed;
$ufr-green-20: #daede7;
$ufr-green-40: #afdace;
$ufr-green-100: #00a082;
$ufr-yellow-20: #fffae0;
$ufr-yellow-40: #fff6c1;
$ufr-yellow-100: #ffe863;
$ufr-sand-50: #faf8f1;
$ufr-sand-100: #f6f1e3;

:root {
    --ufr-darkblue: #00004a;
    --ufr-blue-20: #D7D8EC;
    --ufr-blue-40: #AFB1D8;
    --ufr-blue-100: #344A9A;
    --ufr-pink-20: #fdf3fb;
    --ufr-pink-40: #fbe7f8;
    --ufr-pink-100: #f5c2ed;
    --ufr-green-20: #daede7;
    --ufr-green-40: #afdace;
    --ufr-green-100: #00a082;
    --ufr-yellow-20: #fffae0;
    --ufr-yellow-40: #fff6c1;
    --ufr-yellow-100: #ffe863;
    --ufr-sand-50: #faf8f1;
    --ufr-sand-100: #f6f1e3;
}



/*-- scss:defaults --*/

$body-bg: white;
$body-color: black;
$link-color: $ufr-darkblue;
$light-bg-text-color: $body-color;
$light-bg-link-color: $link-color;

$dark-bg-text-color: white;
$dark-bg-link-color: $ufr-sand-50;
$headingColor: $ufr-blue-100;

$font-family-sans-serif: 'Arial', sans-serif;
$presentation-font-size-root: 50px;
$presentation-font-smaller: 0.8;
$presentation-line-height: 1.3;

$presentation-h1-font-size: 1.5em;
$presentation-h2-font-size: 1.35em;
$presentation-h3-font-size: 1em;
$presentation-h4-font-size: 1em;

$presentation-slide-text-align: left;
$presentation-title-slide-text-align: left;


/*-- scss:rules --*/

.reveal .slides { 
    text-align: left
}

.aside {
    font-weight: normal;
}


// footer with logo and slide number

.reveal .footer {
    bottom: 0.8rem !important;
    right: 5em !important;
    text-align: right !important;
    color: $ufr-blue-100;
}

.reveal .slide-logo {
    right: unset !important;
    bottom: 0 !important;
    left: 5rem !important;
    height: min(3vh, 2vw) !important;
}

.reveal .slide-number {
    top: unset !important;
    right: 2em !important;
    bottom: 1rem !important;
    text-align: right !important;
    color: $ufr-blue-100;
    margin: 0;
    padding: 0;
    background-color: transparent;
}


// slide title and subsequent text

.reveal .slide h2:not(:has(+h3)) {
    margin-bottom: 6rem;
}

.reveal .slide h2 + h3 {
    font-size: $heading2Size;
    color: black;
    line-height: 1;
    margin-bottom: 5rem;
}

.reveal .slide h2 > p:first-of-type,
.reveal .slide h3 > p:first-of-type
{
    color: $ufr-blue-100;
}


// lists

.reveal .slide ul ul {
    color: $ufr-blue-100;   
    line-height: 1;
    list-style-type: circle;
    font-size: smaller;
}


// tables

.reveal .slide table {
    margin: unset;
}


// images

.reveal .slide > img {
    margin-left: unset !important;
    margin-right: unset !important;
}

.reveal .slide figure > figcaption {
    text-align: left;
}


// title slide

#title-slide {
    text-align: left;
}

#title-slide .title {
    margin-top: 12rem;
    margin-bottom: 2rem;
    font-size: 6rem;
}

#title-slide .subtitle {
    font-size: 3rem;
}

#title-slide #ufr-logo {
    padding-left: 0.4rem;
    height: 3rem;
}

#title-slide .quarto-title-authors {
    padding: 0;
    justify-content: left;
}

.quarto-title-block,
.quarto-title-authors,
.quarto-title-author,
.quarto-title-author-name,
.quarto-title-author-email,
.quarto-title-affiliation,
.date {
    font-size: 2rem !important;
    padding: 0 !important;
    margin: 0 !important;
}

#title-slide .quarto-title-authors {
    margin-top: 16rem !important;
}
